.App {
  text-align: center;
  max-width: 700px;
  margin: 12vh auto auto;
  padding: 20px;
}

.card {
  border: none;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 25px;
  color: white;
}

a:hover {
  color: inherit;
}

.result-content {
  padding: 25px;
  text-transform: uppercase;
}

.loading {
  margin-top: 80px;
}

.purple {
  background: #3f51b5;
}

.light-grey {
  color: lightgrey;
}

.clickable:hover {
  cursor: pointer;
}

Form {
  margin-bottom: 25px;
}
